<%- include('../../partials/header.ejs')%>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs')%>
        </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card card-body my-5">                            
                            <h5>Change Your Password</h5>
                            <form action="/auth/change-password" method="POST">
                                <div class="form-group">
                                    <label for="oldPassword">Enter Your Old Password</label>
                                    <input type="password" name="oldPassword" class="form-control <%= error.oldPassword? 'is-invalid' : '' %>" id="oldPassword">  
                                    <div class="invalid-feedback">
                                        <%= error.oldPassword %>
                                    </div>                                   
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">Enter Your New Password</label>
                                    <input type="password" name="newPassword" class="form-control <%= error.newPassword ? 'is-invalid' : '' %>" id="newPassword">                                    
                                    <div class="invalid-feedback">
                                        <%= error.newPassword %>
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Your Password</label>
                                    <input type="password" name="confirmPassword" class="form-control <%= error.confirmPassword ? 'is-invalid' : '' %>" id="confirmPassword">                                    
                                    <div class="invalid-feedback">
                                        <%= error.confirmPassword %>
                                    </div> 
                                </div>
                                <input type="submit" class="btn btn-primary" value="Update Password">
                                
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
</div>

<%- include('../../partials/footer.ejs')%> 

</body>
</html>