<%- include('../../partials/header.ejs')%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"> 
            <%- include('../../partials/sidebar.ejs')%>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2 my-5"> 
                    <h5>My Recent Created Post</h5>                                               
                    <div class="row">                            
                        <% if (posts.length==0) { %>
                            <div class="text-center text-muted">
                                <p>.  .   Empty. Please Create a new post and enjoy</p>                                    
                            </div>
                        <% } else { %>
                            <% for(let post of posts ) { %>
                                <div class="card col-sm-3 m-2">
                                    <% if(post.thumbnail) { %>
                                        <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top mt-3">
                                    <% } %>
                                    <div class="card-body">
                                        <a href="/explorer/<%= post._id %>" style="color: #222;">
                                            <h5><%= post.title %></h5>
                                        </a>
                                    </div>
                                </div>  
                                      
                            <% } %>
                        <% } %>
                        <div class="card col-sm-3 m-2 ">
                          
                             <div class="text-center mt-3 ">
                                 <p>Total Users</p>
                             </div>

                            <div class="card-body" style="text-align:center">
                                <a href="/explorer/" style="color: #222;">
                                    <h5><%= Totalusers %></h5>
                                </a>
                                <div class="container">
                                                
                                    <a class="btn btn-primary mt-20" href="/dashboard/allUsers" role="button">View All</a>
                                  </div>
                            </div>
                        </div>  
                        <div class="card col-sm-3 m-2">
                          
                            <div class="text-center mt-3 ">
                                <p>Total Posts</p>
                            </div>
                           <div class="card-body" style="text-align:center">
                               <a href="/explorer/" style="color: #222;">
                                   <h5><%= allPosts %></h5>
                               </a>
                               <div class="container">
                                               
                                   <a class="btn btn-primary mt-20" href="/explorer" role="button">View All</a>
                                 </div>
                           </div>
                       </div>  
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2 my-5"> 
                    <h5>My Recent Created Bookmarks</h5>                                               
                    <div class="row">                            
                        <% if (bookmarks==0) { %>
                            <div class="text-center text-muted">
                                <p>.  Create a post and Bookmark it easily. </p>                                   
                            </div>
                        <% } else { %>
                            <% for(let post of bookmarks ) { %>
                                <div class="card col-sm-3 m-2">
                                    <% if(post.thumbnail) { %>
                                        <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top mt-3">
                                    <% } %>
                                    <div class="card-body">
                                        
                                            
                                        <a href="/explorer/<%= post._id %>" style="color: #222;">
                                            <h5><%= post.title %></h5>
                                        </a>
                                    </div>
                                </div>        
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<%- include('../../partials/footer.ejs')%> 


</body>
</html>
